* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Product Colors */
    --brand-color: #EF5F4C;
    /* Shape Colors */
    --background-color: #FFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #FFFFFF91;
    /* Text Colors */
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    /* Font Family */
    --font-family: "Poppins", sans-serif;
    /* Text Size */
    --text-lg: bold 32px/125% var(--font-family);
    --text-md: 14px/175% var(--font-family);
    --text-sm: 12px/175% var(--font-family);
    --text: 16px/150% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    /* the color as 'inherint' means that his color will be the same as your father color */
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}